/.metadata/
livros/
tarefa*1/.settings/
tarefa*1/Debug/
tarefa*numeros/.settings/
qt/build-qtecongame-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/
build-teste1-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/
conta/bin/
conta/obj/
jogo_da_velha/jogo_da_velha/.settings/